absl-py==2.3.1
access==1.1.9
aenum==3.1.17
affine==2.4.0
aiobotocore==3.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aioitertools==0.13.0
aiosignal==1.4.0
alabaster==0.7.12
albucore==0.0.24
albumentations==2.0.8
alembic==1.17.2
amqp==5.2.0
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.2.0
appdirs==1.4.4
apt-xapian-index==0.49
argcomplete==3.1.4
argon2-cffi==21.1.0
arrow==1.2.3
asgiref==3.7.2
astroid==3.3.11
asttokens==2.4.1
astunparse==1.6.3
atomicwrites==1.4.1
attrs==25.3.0
autopep8==2.0.4
Babel==2.10.3
bcrypt==3.2.2
beautifulsoup4==4.13.5
billiard==4.2.0
binaryornot==0.4.4
black==24.2.0
bleach==6.1.0
blinker==1.7.0
blosc==1.11.1
blosc2==3.8.0
bokeh==3.9.0
botocore==1.42.84
Bottleneck==1.6.0
bounded-pool-executor==0.0.3
Brlapi==0.8.5
Brotli==1.1.0
buildingregulariser==0.2.4
bulldozer-dtm==1.1.2
bytecode==0.15.1
cachetools==7.1.3
cars==0.12.2
cars-filter==0.2.0
cars-rasterize==0.2.3
cars-resample==0.1.2
celery==5.3.6
centerline==1.1.1
certifi==2025.8.3
cffi==1.16.0
cftime==1.6.4.post1
chardet==5.2.0
charset-normalizer==3.4.3
click==8.4.2
click-didyoumean==0.3.0
click-plugins==1.1.1.2
click-repl==0.3.0
cligj==0.7.2
cloud-init==25.2
cloudpickle==3.0.0
colorama==0.4.6
colorcet==3.1.0
colorlog==6.10.1
comm==0.2.1
command-not-found==0.3
configobj==5.0.8
contextily==1.7.0
contourpy==1.3.3
cookiecutter==2.6.0
coverage==6.5.0
cryptography==41.0.7
cssselect==1.2.0
cuda-bindings==13.2.0
cuda-pathfinder==1.5.4
cuda-toolkit==13.0.2
cupshelpers==1.0
cycler==0.12.1
Cython==3.1.4
dask==2025.9.1
dask-jobqueue==0.9.0
datashader==0.19.1
dbfpy3==4.2.3
dbus-python==1.3.2
debugpy==1.8.0
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.3.1
deprecation==2.1.0
diff-match-patch==20230430
diffusers==0.39.0
dill==0.4.0
distributed==2025.9.1
distro==1.9.0
distro-info==1.7+build1
Django==4.2.11
dnspython==2.6.1
docstring-to-markdown==0.13
docstring_parser==0.18.0
docutils==0.20.1
donfig==0.8.1.post1
dropbox==11.36.2
duplicity==2.1.4
earthaccess==0.17.0
einops==0.8.2
elementpath==5.1.1
emcee==3.1.6
entrypoints==0.4
ephem==4.1.5
esda==2.7.1
et-xmlfile==1.0.1
executing==2.0.1
fastapi==0.136.1
fasteners==0.18
fastjsonschema==2.19.0
filelock==3.29.0
fiona==1.10.1
flake8==7.0.0
flatbuffers==25.9.23
flox==0.11.2
fonttools==4.60.0
frozenlist==1.8.0
fs==2.4.16
fsspec==2026.3.0
fusepy==3.0.1
gast==0.6.0
GDAL==3.8.4
geographiclib==2.1
geopandas==1.0.1
geopy==2.4.1
geoutils==0.1.17
giddy==2.3.6
google-crc32c==1.8.0
google-pasta==0.2.0
gpg==1.18.0
grass-script==0.0.4
grass-session==0.5
greenlet==3.0.3
grpcio==1.75.0
h11==0.16.0
h5py==3.14.0
helpdev==0.7.1
hf-xet==1.5.1
holoviews==1.22.1
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.4
httpx==0.28.1
huggingface_hub==1.22.0
hvplot==0.12.2
hydra-core==1.3.3
idna==3.10
imageio==2.37.0
imagesize==1.4.1
imgaug==0.4.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
inequality==1.1.2
inflection==0.3.1
iniconfig==1.1.1
intervaltree==3.0.2
ipykernel==6.29.3
ipython==8.20.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isort==6.1.0
jaraco.classes==3.2.1
jedi==0.19.1
jeepney==0.8.0
jellyfish==0.10.0
Jinja2==3.1.2
jmespath==1.1.0
joblib==1.5.2
jpy==0.13.0
json-checker==2.0.0
jsonargparse==4.49.0
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
jupyter-console==6.6.3
jupyter-server==1.23.3
jupyter_bokeh==4.0.5
jupyter_client==7.4.9
jupyter_core==5.3.2
jupyterlab-pygments==0.2.2
jupyterlab_widgets==3.0.16
KDEpy==1.1.12
keras==3.11.3
keyring==24.3.1
kiwisolver==1.4.9
kombu==5.3.5
kornia==0.8.3
kornia_rs==0.1.14
language-selector==0.1
laspy==2.6.1
laszip==0.2.3
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lazy_loader==0.4
libarchive-c==2.9
libclang==18.1.1
libevdev==0.5
libpysal==4.12.1
libsass==0.22.0
libSGM==0.5.1
lightly==1.5.22
lightly-utils==0.0.2
lightning==2.6.5
lightning-utilities==0.15.3
linkify-it-py==2.1.0
llvmlite==0.47.0
locket==1.0.0
logilab-common==1.9.8
louis==3.29.0
lxml==5.2.1
lxml-html-clean==0.1.1
lz4==4.0.2+dfsg
Mako==1.3.10
mapclassify==2.10.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.6
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
mercantile==1.2.1
mercurial==6.7.2
mgwr==2.2.1
ml_dtypes==0.5.3
momepy==0.10.0
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.7.1
multimethod==2.0.2
multipledispatch==1.0.0
munkres==1.1.4
mutagen==1.46.0
mypy-extensions==1.0.0
namex==0.1.0
narwhals==2.19.0
nbclient==0.8.0
nbconvert==6.5.3
nbformat==5.9.1
nbmerge==0.0.4
ndindex==1.10.0
nest-asyncio==1.5.4
netCDF4==1.7.2
netifaces==0.11.0
networkx==3.5
notebook==6.4.12
npeet-plus==0.2.0
numba==0.65.0
numcodecs==0.16.5
numexpr==2.12.1
numpy==2.4.4
numpy-groupies==0.11.3
numpydoc==1.6.0
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.20.0.48
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.1
nvidia-nccl-cu13==2.29.7
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
oauthlib==3.2.2
odc-geo==0.5.1
odfpy==1.4.2
olefile==0.46
omegaconf==2.3.1
opencv-python==4.12.0.88
opencv-python-headless==5.0.0.93
openeo==0.49.0
openpyxl==3.1.2
openturns==1.25
opt_einsum==3.4.0
optree==0.17.0
optuna==4.6.0
osmnx==2.1.0
OWSLib==0.29.3
packaging==25.0
pandas==2.3.2
pandas-stubs==2.3.2.250827
pandocfilters==1.5.0
pandora==1.7.0
pandora_plugin_libsgm==1.5.5
panel==1.8.10
param==2.3.3
paramiko==2.12.0
parso==0.8.3
partd==1.4.1
pathspec==0.12.1
patsy==1.0.1
pbr==5.11.1
pep8==1.7.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.3.0
pipx==1.4.3
platformdirs==4.4.0
plotly==5.15.0
pluggy==1.4.0
ply==3.11
pointpats==2.5.2
pqdm==0.2.0
prometheus-client==0.19.0
prompt-toolkit==3.0.43
propcache==0.4.1
protobuf==6.32.1
psutil==5.9.8
psycopg2==2.9.10
ptyprocess==0.7.0
PuLP==3.3.0
pure-eval==0.0.0
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==21.0.0
pybind11==3.0.1
pycairo==1.25.1
pycocotools==2.0.11
pycodestyle==2.11.1
pycparser==2.21
pycryptodomex==3.20.0
pyct==0.6.0
pycups==2.0.1
pydantic==2.13.4
pydantic_core==2.46.4
pydevd==2.10.0
pydocstyle==6.3.0
pyflakes==3.2.0
pygit2==1.14.1
Pygments==2.17.2
PyGObject==3.48.2
pygraphviz==1.7
PyJWT==2.7.0
pylint==3.3.9
pylint-venv==3.0.2
pyls-spyder==0.4.0
PyNaCl==1.5.0
pyogrio==0.11.1
pyparsing==3.2.5
pyproj==3.7.2
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
pyrsistent==0.20.0
pysal==24.7
pyserial==3.5
pystac==1.14.3
pysvn==1.9.22
pytest==7.4.4
python-apt==2.7.7+ubuntu5.1
python-box==7.4.1
python-cmr==0.13.0
python-dateutil==2.9.0.post0
python-debian==0.1.49+ubuntu2
python-lsp-black==2.0.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.10.0
python-memcached==1.58
python-slugify==8.0.4
pytoolconfig==1.3.1
pytorch-lightning==2.6.5
pytz==2025.2
pyudev==0.24.0
pyviz_comms==3.0.6
pyxdg==0.28
PyYAML==6.0.1
pyzmq==24.0.1
QDarkStyle==3.2.3
QScintilla==2.14.1
qstylizer==0.2.2
QtAwesome==1.2.3
qtconsole==5.5.1
QtPy==2.4.1
qtsass==0.4.0
quantecon==0.10.1
rasterio==1.4.3
rasterstats==0.20.0
regex==2026.6.28
requests==2.32.5
rich==13.7.1
rioxarray==0.19.0
roman==3.3
rope==1.12.0
rpy2==3.6.3
rpy2-rinterface==3.6.3
rpy2-robjects==3.6.2
rtree==1.4.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.8
s3fs==2026.3.0
safetensors==0.8.0
sarsen==0.9.5
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
SecretStorage==3.3.3
segmentation_models_pytorch==0.5.0
segregation==2.5.2
Send2Trash==1.8.2
setuptools==68.1.2
shapely==2.1.1
shareloc==0.2.8
shellingham==1.5.4
simpledbf==0.2.6
simplejson==3.20.1
simsimd==6.5.16
six==1.17.0
sniffio==1.3.0
snowballstemmer==2.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.8
spaghetti==1.7.6
spglm==1.1.0
Sphinx==7.2.6
spint==1.0.7
splot==1.1.7
spopt==0.7.0
spreg==1.8.3
spvcm==0.3.0
spyder==5.5.1
spyder-kernels==2.5.0
SQLAlchemy==2.0.50
sqlparse==0.4.4
ssh-import-id==5.11
stack-data==0.6.3
starlette==1.0.0
statsmodels==0.14.5
stone==3.3.1
stringzilla==4.6.2
sympy==1.14.0
systemd-python==235
tables==3.9.2
tabulate==0.8.10
tbb==2020.3.254
tblib==3.0.0
tenacity==8.2.3
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
terminado==0.17.1
terratorch==1.2.8
textdistance==4.6.0
threadpoolctl==3.6.0
three-merge==0.1.1
tifffile==2024.2.12
timm==1.0.27
tinycss2==1.2.1
tinynetrc==1.3.1
tobler==0.12.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.3
toolz==0.12.0
torch==2.12.1+cpu
torchgeo==0.9.0
torchmetrics==1.9.0
torchvision==0.27.1+cpu
tornado==6.4
tqdm==4.67.1
traitlets==5.5.0
transitions==0.9.3
triton==3.7.1
typer==0.24.1
types-aiofiles==23.2
types-aws-xray-sdk==2.12
types-beautifulsoup4==4.12
types-bleach==6.1
types-boltons==23.0
types-boto==2.49
types-braintree==4.24
types-cachetools==5.3
types-caldav==1.3
types-cffi==1.16
types-chevron==0.14
types-click-default-group==1.2
types-click-spinner==0.1
types-colorama==0.4
types-commonmark==0.9
types-console-menu==0.8
types-croniter==2.0
types-dateparser==1.1
types-decorator==5.1
types-Deprecated==1.2
types-dockerfile-parse==2.0
types-docopt==0.6
types-docutils==0.20
types-editdistance==0.6
types-entrypoints==0.4
types-ExifRead==3.0
types-first==2.0
types-flake8-2020==1.8
types-flake8-bugbear==23.9.16
types-flake8-builtins==2.2
types-flake8-docstrings==1.7
types-flake8-plugin-utils==1.3
types-flake8-rst-docstrings==0.3
types-flake8-simplify==0.21
types-flake8-typing-imports==1.15
types-Flask-Cors==4.0
types-Flask-Migrate==4.0
types-Flask-SocketIO==5.3
types-fpdf2==2.7.4
types-gdb==12.1
types-google-cloud-ndb==2.2
types-greenlet==3.0
types-hdbcli==2.18
types-html5lib==1.1
types-httplib2==0.22
types-humanfriendly==10.0
types-ibm-db==3.2
types-influxdb-client==1.38
types-inifile==0.4
types-JACK-Client==0.5
types-jmespath==1.0
types-jsonschema==4.19
types-keyboard==0.13
types-ldap3==2.9
types-libsass==0.22
types-Markdown==3.5
types-mock==5.1
types-mypy-extensions==1.0
types-mysqlclient==2.2
types-netaddr==0.9
types-oauthlib==3.2
types-openpyxl==3.1
types-opentracing==2.4
types-paho-mqtt==1.6
types-paramiko==3.3
types-parsimonious==0.10
types-passlib==1.7
types-passpy==1.0
types-peewee==3.17
types-pep8-naming==0.13
types-pexpect==4.8
types-pika-ts==1.3
types-Pillow==10.1
types-playsound==1.3
types-pluggy==1.2.0
types-polib==1.2
types-portpicker==1.6
types-protobuf==4.24
types-psutil==5.9
types-psycopg2==2.9
types-pyasn1==0.5
types-pyaudio==0.2
types-PyAutoGUI==0.9
types-pycocotools==2.0
types-pycurl==7.45.2
types-pyfarmhash==0.3
types-pyflakes==3.1
types-Pygments==2.16
types-pyinstaller==6.1
types-pyjks==20.0
types-PyMySQL==1.1
types-pynput==1.7
types-pyOpenSSL==23.3
types-pyRFC3339==1.1
types-PyScreeze==0.1.29
types-pyserial==3.5
types-pysftp==0.2
types-pytest-lazy-fixture==0.6
types-python-crontab==3.0
types-python-datemath==1.5
types-python-dateutil==2.8
types-python-gflags==3.1
types-python-jose==3.3
types-python-nmap==0.7
types-python-slugify==8.0
types-python-xlib==0.33
types-pytz==2025.2.0.20250809
types-pywin32==306
types-pyxdg==0.28
types-PyYAML==6.0
types-qrcode==7.4
types-redis==4.6.0
types-regex==2023.10.3
types-requests==2.31
types-requests-oauthlib==1.3
types-retry==0.9
types-s2clientprotocol==5
types-seaborn==0.13
types-Send2Trash==1.8
types-setuptools==68.2
types-simplejson==3.19
types-singledispatch==4.1
types-six==1.16
types-slumber==0.7
types-stdlib-list==0.8
types-stripe==3.5
types-tabulate==0.9
types-tensorflow==2.12
types-toml==0.10
types-toposort==1.10
types-tqdm==4.66
types-translationstring==1.4
types-tree-sitter==0.20.1
types-tree-sitter-languages==1.8
types-ttkthemes==3.2
types-tzlocal==5.1
types-ujson==5.8
types-untangle==1.2
types-usersettings==1.1
types-uWSGI==2.0
types-vobject==0.9
types-waitress==2.1
types-WebOb==1.8
types-whatthepatch==1.0
types-workalendar==17.0
types-WTForms==3.1
types-xmltodict==0.13
types-zstd==1.5
types-zxcvbn==4.4
typeshed_client==2.12.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
uc-micro-py==2.0.0
ufoLib2==0.16.0
ufw==0.36.2
ujson==5.9.0
unattended-upgrades==0.1
unicodedata2==15.1.0
Unidecode==1.3.8
urllib3==1.26.20
usb-creator==0.3.16
userpath==1.9.1
utm==0.8.1
uvicorn==0.27.1
uvloop==0.19.0
vine==5.1.0
vlsift==0.1.2
wadllib==1.3.6
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.7.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.42.0
widgetsnbextension==4.0.9
wrapt==1.17.3
wsproto==1.2.0
wurlitzer==3.0.3
wxPython==4.2.1
xarray==2025.1.1
xarray-sentinel==0.9.5
xcffib==0.11.1
xdem==0.1.6
xdg==5
xkit==0.0.0
xmlschema==4.3.1
xyzservices==2026.3.0
yapf==0.33.0
yarl==1.23.0
yt-dlp==2024.4.9
zarr==3.2.1
zict==3.0.0
zipp==3.23.0
